@use './src/styles/breakpoints' as bp;

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    width: 100%;
  }

  .image {
    min-width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    position: relative;
    left: -50px;
    top: 0;

    img {
      clip-path: url(#t);
      object-fit: cover;
      width: 580px;
      height: 540px;
    }

  }

  .content {
    min-width: 60%;
    width: 100%;

    h5 {
      margin: 0;
      font-weight: 600;
    }

    .block {
      margin-bottom: 20px;
      padding-right: 50px;
    }
  }

  .cv {
    padding-left: 50px;
    position: relative;

    &:before {
      content: "";
      width: 30px;
      height: 30px;
      display: block;
      background-image: url("../../assets/download.svg");
      position: absolute;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 5px;
    }
  }
  @media screen and (max-width: bp.$desktopBreakpoint) {
    flex-direction: column-reverse;

    .image {
      left: unset;
      img {
        width: calc(580px * 0.8);
        height: calc(540px * 0.8);
      }
    }
  }
  @media screen and (max-width: bp.$tabletBreakpoint) {
    .content {
      padding-left: 0;

      p {
        max-width: 100%;
      }
    }
    .image {
      max-width: 100%;

    }
  }
  @media screen and (max-width: bp.$mediumMobileBreakpoint) {
    .image {
      max-width: 100%;

      img {
        width: calc(580px * .6);
        height: calc(540px * .6);
      }
    }
  }
}