@import "./styles/main";

.App {
  width: 100vw;
  min-height: 100vh;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: scroll;
}